body {
    font-family: 'Roboto', sans-serif;
    color:#434455;
    background-color: #fff;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

p, h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

a {
    text-decoration: none;
}

address {
    font-style: normal;
}

.container {
    max-width: 1158px;
    padding: 0 15px;
    margin: 0 auto;
}

.logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4D5AE5;
}

.header {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
}

.header-container,
.header-nav {
    display: flex;
    align-items: center;
}

.header-logo {
    padding: 24px 0;
    margin-right: 76px;
}

.header-menu-list {
    display: flex;
    align-items: center;
    gap: 40px;
}

.header-menu-link,
.header-logo .logo-color {
    color: #2e2f42;
}

.header-menu-link,
.address-link {
    padding: 24px 0; 
    display: block;     
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.header-menu-link {
    font-weight: 500;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-menu-link.current {
   position:relative
}

.header-menu-link.current::after {
    content: "";
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: #404bbf;
    border-radius: 2px;
}

.address {
    margin-left: auto;
}

.address-list {
    display: flex;
    align-items: center;
    gap: 40px;
}

.address-link {
    display: block;
    padding: 24px 0;
    color: #434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-menu-link:hover,
.header-menu-link:focus,
.address-link:hover,
.address-link:focus,
.header-menu-link.current {
    color: #404bbf;
}

h2 {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: #2E2F42;;
}

.section {
    padding-top: 120px;
    padding-bottom: 120px;
}

.hero {
    background-color: #2E2F42;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url('../images/Office.png');
    background-repeat: no-repeat;
    margin: 0 auto;
    max-width: 1440px;
    background-size: cover;
    background-position: center;    
}

.hero.section {
    padding-top: 188px;
    padding-bottom: 188px;
}

.hero-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 48px;
}

.hero-title {
    max-width: 496px;
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: #FFF;
}

.hero-btn {
    background-color: #4D5AE5;
    color: #FFF;
    border: none;
    padding: 16px 32px;
    font-size: 16px;
    cursor: pointer;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    border-radius: 4px;
    display: flex;
    align-items: center;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-btn:hover,
.hero-btn:focus {
    background-color: #404bbf;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.features-menu-list,
.team-menu-list,
.footer-menu-list {
    display: flex;
    align-items: baseline;
    gap: 24px;
}

.features-menu-item {
    width: calc((100% - 72px) / 4);
}

.features-icon {
  border: 1px solid #8e8f99;
  border-radius: 4px;
  width: 264px;
  height: 112px;
  background-color: #f4f4fd;
  padding: 24px 100px;
  margin-bottom: 8px;
}


.features-item-title,
.team-item-title,
.portfolio-item-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2E2F42;
    padding-bottom : 8px;
}

.team {
    background-color: #F4F4FD;
}

.team-title,
.portfolio-title {
    margin-bottom: 72px;
}

.team-menu-item {
    flex-basis: calc((100% - 72px) / 4);
    background-color: #FFF;
    border-radius: 0 0 4px 4px;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.card-image {
    max-width: 100%;
    display: block
}

.card-image.no-gap {
    display: block;
    height: auto
}

.team-item-info {
    display: block;
    padding: 32px 16px;
}

.team-title,
.team-item-title,
.portfolio-title,
.team-item-text {
    text-align: center;
}

.icon-social-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #4d5ae5;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-social-link:hover,
.icon-social-link:focus {
    background-color: #404bbf;
}

.icon-social-link svg {
    fill: #f4f4fd;;
}

.icons-social-link-list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 24px;
}

.icons-social-link-item {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background-color: #4d5ae5;
    border-radius: 50%;                                                                             
}

.team-item-text {
    padding-bottom: 8px;
}

.features-item-text,
.team-item-text,
.portfolio-item-text,
.portfolio-img-text,
.footer-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.portfolio-menu-list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 48px 24px;
}

.portfolio-menu-item {
    position: relative;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-menu-item:hover {
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.portfolio-menu-item:hover .portfolio-img-text {
    transform: translateY(0);
}

.portfolio-item-info {
    padding: 32px 16px;
    border-bottom: 1px solid #e7e9fc;
    border-left: 1px solid #e7e9fc;
    border-right: 1px solid #e7e9fc;
}

.portfolio-item-info:hover {
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
    background-color: #fff;
}

.portfolio-img-wrapper {
    overflow: hidden;
    position: relative;
}

.portfolio-img-text {
    background-color: #4d5ae5; 
    position:absolute;
    top: 0;
    left: 0;
    padding: 40px 32px;
    width: 100%;
    height: 100%;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer {
    background-color: #2E2F42;
    padding-top: 100px;
    padding-bottom: 100px;
}

.footer-menu-list {
    gap: 120px;
}

.footer-logo {
    display: inline-block;
    margin-bottom: 16px;
}

.portfolio-img-text,
.footer-text,
.footer-logo .logo-color {
    color: #F4F4FD;
}

.footer-text {
    max-width: 264px;
}

.media {
    font-weight: 500;
    color: #fff;
    max-width: 208px;
    margin-bottom: 16px;
}

.footer .icons-social-link-list {
    gap: 16px;
}

.footer .icon-social-link:hover,
.footer .icon-social-link:focus {
    background-color: #31d0aa;
}